# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mo
*.pyc

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Static & Media
staticfiles/
media/
*.sass-cache/
*.css.map

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Secrets
*.env
*.key
